<h1>Recipes</h1>

<!-- <form>
  <button type="submit" name="alphabetize" class="btn btn-warning">Alphabetize!</button>
  <input type="hidden" name="alphabetize">
</form> -->

  <p><%= link_to "Alphabetize List", recipes_path("alphabetize") %></p>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>


<p><%= link_to "Create new recipe", new_recipe_path %></p>
<p><%= link_to "See all ingredients", ingredients_path %></p>
