<h1>Ingredients</h1>

<% if @ingredients.any? %>

    <% @ingredients.each do |ingredient| %>
      <p><%= link_to ingredient.name, ingredient_path(ingredient) %></p>
    <% end %>

<% else %>
  <p>There are no ingredients yet.</p>
<% end %>


<p><%= link_to "Create new ingredient", new_ingredient_path %></p>
<p><%= link_to "See all recipes", recipes_path %></p>
